.benefit {
    text-align: center;
}

.benefit__image {
    margin-bottom: 11px;
}

.benefit__img-wrapper {
    display: inline-block;
    width: 128px;
    height: 128px;
    position: relative;
    background-color: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 24px;
}

.benefit__desc {
    font-family: "Play";
    padding: 0 5%;
}