.contacts-phone {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contacts-phone__icon-elem {
    height: 16px;
    margin-right: 11px;
}

.contacts-phone__text {
    font-size: 18px;
    font-family: "Play";
    font-style: normal;
}