.hello{
    width: 40%;
}

.hello__title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hello__subtitle {
    font-size: 21px;
    margin-bottom: 47px;
    padding-right: 13%;
}